// Bootstrap import
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

// Animation
@import "animate.scss";

html, body {
	height: 100%;
}
.container {
	min-height: 100%;
	display: table;
}

// Login form
.login-form {
	display: table-cell;
	vertical-align: middle;
}

// Sidebar
.sidebar-nav {
	li {
		.sidebar-nav-buttons {
			display: none;
			position: absolute;
			right: 5px;
			top: 9px;
		}
		&:hover {
			.sidebar-nav-buttons {
				display: block
			}
		}
	}
}

// Loading
.alert-loading {
	position: absolute;
	top: 20px;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	background: #333;
	border: 1px solid #fff;
	color: #999;
	padding: 20px;
	border-radius: 3px;
	@include box-shadow(0 0 12px #999999);
}

.spinner {
	margin: 0 auto;
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 10px;
	> div {
		background-color: #fff;
		height: 100%;
		width: 6px;
		display: inline-block;
		@include animation(stretchdelay 1.2s infinite ease-in-out);
	}

	$start_delay: -1.2;

	@for $i from 2 through 5 {

		$start_delay: $start_delay + 0.1;

		.rect#{$i} {
			@include animation-delay(#{$start_delay}s);
		}
	}
}

 @-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(.4); }
	20% { -webkit-transform: scaleY(1); }
}
@-moz-keyframes stretchdelay {
	0%, 40%, 100% { -moz-transform: scaleY(.4); }
	20% { -moz-transform: scaleY(1); }
}
@-ms-keyframes stretchdelay {
	0%, 40%, 100% { -ms-transform: scaleY(.4); }
	20% { -ms-transform: scaleY(1); }
}
@-o-keyframes stretchdelay {
	0%, 40%, 100% { -o-transform: scaleY(.4); }
	20% { -o-transform: scaleY(1); }
}
@keyframes stretchdelay {
	0%, 40%, 100% { transform: scaleY(.4); }
	20% { transform: scaleY(1); }
}