<div class="row">
	<div class="col-md-3">
		<ng-include src="'js/app/sidebar/sidebar.template.html'"></ng-include>
	</div>
	<div class="col-md-9">
		<ng-include src="'js/app/todo/todo.list.template.html'"></ng-include>
	</div>
</div>