<div class="modal-header">
    <h3 class="modal-title">Delete Confirmation</h3>
</div>
<div class="modal-body">
    <p>Are you sure you want to delete the category "{{ modalController.nameDeleteCategory }}"?
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close()">OK</button>
    <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
</div>