<div ng-controller="todo.sidebarController as sidebar">
	<ul class="nav nav-pills nav-stacked sidebar-nav">
		<li ng-repeat="i in sidebar.list | orderBy: 'order'" ng-click="sidebar.flow.activeCategory = i.$id" ng-class="{active: i.$id == sidebar.flow.activeCategory}" class="animate-repeat">
			<a href>
				<span ng-show="!i.clone">{{ i.name }}</span>
				<span ng-show="i.clone">
					<form novalidate name="editCategoryForm">
						<div class="input-group input-group-sm">
							<input type="text" class="form-control" ng-model="i.clone.name" required name="editName">
	  						<span class="input-group-btn">
	    						<button type="submit" class="btn btn-success" ng-disabled="editCategoryForm.$invalid" ng-click="sidebar.save(i)"><span class="glyphicon glyphicon-save"></span></button>
	    						<button type="button" class="btn btn-danger" ng-click="sidebar.cancelEdit(i)"><span class="glyphicon glyphicon-remove"></span></button>
	  						</span>
						</div>
					</form>
				</span>
				<span class="sidebar-nav-buttons" ng-if="$index !== 0 && !i.clone">
					<button class="btn btn-primary btn-xs edit-list-button" ng-click="sidebar.edit(i)"><span class="glyphicon glyphicon-pencil"></span></button>
					<button class="btn btn-danger btn-xs edit-list-button" ng-click="sidebar.delete(i)"><span class="glyphicon glyphicon-trash"></span></button>
				</span>
			</a>
		</li>
	</ul>
	<form novalidate name="addCategoryForm">
		<div class="input-group">
			<input type="text" class="form-control" ng-model="sidebar.addName" required name="addName">
	  		<span class="input-group-btn">
	    		<button type="submit" class="btn btn-success" ng-disabled="addCategoryForm.$invalid" ng-click="sidebar.add()"><span class="glyphicon glyphicon-plus"></span></button>
	  		</span>
		</div>
	</form>
</div>