<form class="form-horizontal login-form" role="form" novalidate>
    <div class="row">
        <h1 class="col-sm-10 col-sm-offset-2">Login</h1>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="login.email">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="login.password">
        </div>
    </div>
    <!--div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="login.rememberMe"> Remember me
                </label>
            </div>
        </div>
    </div-->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" ng-click="login.doLogin()">Sign in</button>
        </div>
    </div>
</form>